# Hugging Face Hub access
HF_TOKEN=hf_your_token_here

# Hopsworks feature store access
HOPSWORKS_API_KEY=your_hopsworks_api_key_here

# DagsHub / MLflow access
DAGSHUB_USER_TOKEN=your_dagshub_user_token_here
DAGSHUB_REPO_OWNER=NoahZemljic
DAGSHUB_REPO_NAME=ahead-of-the-curve
