# HuggingFace access
HF_TOKEN=your_hf_token

# Hopsworks
HOPSWORKS_API_KEY=your_hopsworks_api_key

# DagsHub
DAGSHUB_USER_TOKEN=your_dagshub_user_token
DAGSHUB_REPO_OWNER=your_dagshub_repo_owner
DAGSHUB_REPO_NAME=ahead-of-the-curve

# GCP
GCP_PROJECT_ID=your_gcp_id
GCP_REGION=europe-west6
GCS_BUCKET_NAME=ahead-of-the-curve
GOOGLE_APPLICATION_CREDENTIALS=.secrets/gcp-key.json
CLOUD_RUN_SERVICE=inference-pipeline

# Dashboard
INFERENCE_API_URL=http://0.0.0.0:8080
PORT=7860
